<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>
<% provide(:title, "Edit user") %>
<% provide(:title, 'Save changes') %>
<% provide(:url, user_path) %>
<div class="container">
    <h1>sign_up page</h1>
    <%= form_for(@user, url:users_path(@user)) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= render partial: "form", :locals => {:f => f} %>
    <% end %>
    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">change</a>
    </div>
</div>