<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>
<% provide(:title, "Edit user") %>
<% provide(:form_action, users_path(@user) )%>
<div class="container">
    <h1>sign_up page</h1>
      <%= render  "form",:sign_up => true,local:{user: @user }%> 
 <%= hidden_field_tag :email, @user.email %>
    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">change</a>
    </div>
</div>