<% provide(:title, 'All users') %>
<h1>ALL users</h1>
<%= will_paginate %>

<ul class="users">
  <% = render @users %>
</ul>
<table>
  <%#= will_paginate %>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<%#= will_paginate %>
<%# @users.each do |user| %>
  <tr>
    <li>
        <%= render @users %>
    </li>
  </tr>
<%# end %>
<%#= will_paginate %>
</table>

<br>

<%#= link_to 'New User', signup_path %>