<% provide(:title, 'All users') %>
<h1>ALL users</h1>


<ul class="users">
  <%= render @users %>
</ul>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<%= will_paginate @users %>
<%# @users.each do |user| %>

<%# end %>
<%#= will_paginate %>
</table>

<br>

<%#= link_to 'New User', signup_path %>