 <p><% provide(:title, @user.username) %></p>
 <h1>
  <p><%= gravatar_for @user%><%= @user.username %></p>
  <p> user_email:<%= @user.email%></p>
 </h1>
 <div class="edit">
  <%=link_to "edit", users_edit_path(@user.id) %>
 </div>