<div class="footer">
  <hr size="6"></hr>
  <footer class="footer">
    <div class="footer_left">
    <small>
      The <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
      by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
    </small>
    </div>
    <nav>
    <div class="detail"> 
        <p><%= link_to "About",    about_path %>
        <%= link_to "Contact",  contact_path %>
        <a href="http://news.railstutorial.org/">News</a></p>

    </nav>
  </footer>
</div>